:root {
  --primary-brand-color: #a1603b;
  --color-brand-contrast: #fff;
  --color-medium-gray: #898989;
  --color-light-gray: #ccc;
  --color-background: #e5e5e5;
  --font-body: 'Segoe UI', Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--primary-brand-color);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: var(--color-background);   
}

nav ul {
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin: 0 1.5em 0 1.5em; /* top, right, bottom, left - clockwise */
  vertical-align: middle;
}

nav > ul > li:first-child {
  margin: 0.5em;
  padding: 0;
}

nav ul li a,
nav ul li a:active,
nav ul li a:hover,
nav ul li a:visited {
  color: var(--color-brand-contrast);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25em;
}

h1 {
  color: var(--primary-brand-color);
}

article {
  padding: 2em;
}